.main {
    background-color: #EBEEF3;
    // width: 100vw;
    min-height: 100vh;
    padding-bottom: 64px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
