.article-item--max {
    

    .article-item__description {
        color: #00000080;
    }

    &.article-item:hover {
        border: none;
    }
}

.item--flex {
    display: flex;
    flex-direction: column;

    margin-top: 26px;
    width: 908px;
    min-height: 768px;
    padding: 15px 14px 24px 16px;

    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 12px 0px #00000026;

    font-size: 12px;
    line-height: 22px;
    color: #000000BF;
}
